*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 12px;
  color: #333;
  padding: 1em 1em;
}

.gas-costs span.empty {
  content: "\200b";
}

.gas-costs {
  text-align: right;
  min-width: 20px;
  color: rgba(0, 0, 0, 0.5);
  background-color: #eaeaea;
}

.gas-costs span {
  display: block;
  padding: 0 5px;
  font: 14px/1.2 Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
  width: 100%;
}

#gas-profiler-root .list-group-item {
  padding-left: 0.75rem;
}

#gas-profiler-root .code-content.list-group-item.d-flex {
  padding: 0;
}

#gas-profiler-root .card-footer.custom.text-center {
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

#gas-profiler-root .card-body {
  padding-top: 0.75rem;
}

#gas-profiler-root .custom.list-group-item.d-print-flex {
  padding-bottom: 0;
}