*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 12px;
  color: #333;
  padding: 1em 1em;
}

#gas-profiler-root .list-group-item {
  padding-left: 0.75rem;
}

#gas-profiler-root .card-footer.custom.text-center {
  background-color: transparent;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

#gas-profiler-root .card-body {
  padding-top: 0.75rem;
}

#gas-profiler-root .custom.list-group-item.d-print-flex {
  padding-bottom: 0;
}

/* New Styles */

#gas-profiler-root.dark {
  color: white;
}

#gas-profiler-root.light {
  color: black;
}

